#navBar {
  margin: 0;
  padding: 0;
  display: inline-flex;
  width: auto;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  background-color: purple;
}

li {
  padding: 10px;
}

a {
  font-size: large;
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}
