.App {
  text-align: center;
  padding: 50px;
}

.App label {
  font-size: 30px;
}

/* buttons */

#kittens {
  width: 40%;
  height: auto;
}

.button {
    display:block;
    width:130px;
    height:130px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, #6bf5ff, #d3e6ff);
    text-align:center;
    text-decoration:none;
    box-shadow: 0 0 3px green;
    font-size:20px;
    font-weight:bold;
    transition: 0.5s;

}

.button:hover {
  background: radial-gradient(circle at 100px 100px, #89bcff, #d3e6ff);
  transform: scale(1.3);
}

/* modal */

.modal-box {
  display: flex;
  align-items: center;
  width: 50%;
  height: auto;
  background: #8502fd;
  border-radius: 8px;
  color: white;
}
